@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 120px;
}
h1,
h2 {
  font-family: 'Pacifico', cursive;
}
.btn {
  border-radius: 0px;
}
.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  min-width: 120px;
}
.btn-secondary {
  background-color: gray;
  border-color: gray;
  color: white;
  min-width: 120px;
}
.btn-default {
  background-color: #e64a19;
  border-color: #e64a19;
  color: white;
}
.btn-default[disabled] {
  background-color: lightgray !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #ffa000;
  border-color: #ffc107;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #dd2c00;
  border-color: #e64a19;
  color: white;
}
.top-buffer {
  margin-top: 30px;
}
.msg-error {
  color: red;
}
.comentario-color {
  color: #ffecb3;
}
#main-header .navbar-default .navbar-toggle {
  border-color: transparent;
}
#main-header .navbar-toggle:hover,
#main-header .navbar-toggle:focus {
  background-color: #ffc107;
}
#main-header a {
  color: #fff;
  text-decoration: none;
}
#main-header .navbar-toggle {
  text-align: center;
}
#main-header .navbar {
  min-height: 80px;
}
#main-header .navbar-default {
  background-color: #ffc107;
}
#main-header .navbar-default .navbar-nav > li > a {
  color: #fff;
}
#main-header nav li > a:focus,
#main-header nav li > a:hover {
  background-color: transparent;
}
#main-header .nav .open > a,
#main-header .nav .open > a:focus,
#main-header .nav .open > a:hover {
  background-color: transparent;
  border-color: transparent;
}
@media (min-width: 768px) {
  #main-header .navbar-nav > li {
    float: right;
    margin-left: 20px;
  }
}
#main-header li > .dropdown-menu {
  background-color: #ffc107;
}
#main-header li > .dropdown-menu a {
  color: #fff;
  text-align: center;
}
#main-header li > .dropdown-menu li > a:hover,
#main-header li > .dropdown-menu li > a:focus {
  background-color: #ffa000;
}
#main-header li > .dropdown-menu a:hover,
#main-header li > .dropdown-menu a:focus {
  color: #fff;
}
#main-header .menu-icon {
  font-size: 30px;
}
#main-header .dropdown-menu ul {
  margin-top: 0px;
}
#footer-menu .footer-menu-icon {
  font-size: 40px;
}
#footer-menu .navbar a {
  color: white;
  text-decoration: none;
}
#footer-menu .navbar-default {
  color: #fff;
  background-color: #ffc107;
}
#menu-page .pedidos-btn,
#mi-pedido-page .pedidos-btn {
  margin-top: 20px;
}
#menu-page .agregar-menu,
#mi-pedido-page .agregar-menu {
  color: #ffc107;
}
#crear-menu .menu-item-hover {
  background-color: #ffecb3;
  border-radius: 7px;
}
#main-page {
  text-align: center;
}
#main-page .menu-principal-item {
  color: black;
  width: 20rem;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 30px;
  border-color: #ffe57f;
  text-align: center;
}
#main-page .menu-principal-item:hover {
  background-color: #ffe57f;
}
@media only screen and (max-width: 500px) {
  #main-page body {
    background-color: lightblue;
  }
}
#main-page .menu-icon {
  font-size: 40px;
}
#main-page .btn-primary {
  background-color: inherit;
  border-color: inherit;
  border-style: none;
  color: black;
}
#main-page .disabled a {
  cursor: not-allowed;
}
#main-page .disabled .menu-principal-item {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}
#listado-pedidos .abonado {
  background-color: #1ba852;
  color: white;
  border-radius: 100px;
  padding: 8px;
  font-size: 10px;
}
#listado-pedidos .estado-pedido {
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  padding: 7px;
  color: white;
  font-size: 12px;
  position: absolute;
  margin-left: 20px;
}
#listado-pedidos .generado {
  background-color: #636c72;
  border-color: #636c72;
}
#listado-pedidos .confeccionado {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
#listado-pedidos .pendiente {
  background-color: #ffe57f;
  border-color: #ffe57f;
}
#listado-pedidos .en_curso {
  background-color: #ffe57f;
  border-color: #ffe57f;
}
#listado-pedidos .entregado {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
#listado-pedidos .cancelado {
  background-color: #d9534f;
  border-color: #d9534f;
}
