@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 120px;
}
h1,
h2 {
  font-family: 'Pacifico', cursive;
}
.btn {
  border-radius: 0px;
}
.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-default {
  background-color: #e64a19;
  border-color: #e64a19;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #ffa000;
  border-color: #ffc107;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #dd2c00;
  border-color: #e64a19;
  color: white;
}
.top-buffer {
  margin-top: 30px;
}
#main-header .navbar {
  min-height: 80px;
}
#main-header .navbar-default {
  background-color: #ffc107;
}
#main-header .navbar-default .navbar-nav > li > a {
  color: #fff;
}
#main-header nav li > a:focus,
#main-header nav li > a:hover {
  background-color: transparent;
}
#main-header .nav .open > a,
#main-header .nav .open > a:focus,
#main-header .nav .open > a:hover {
  background-color: transparent;
  border-color: transparent;
}
@media (min-width: 768px) {
  #main-header .navbar-nav > li {
    float: right;
    margin-left: 20px;
  }
}
#main-header li > .dropdown-menu {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  background-color: #ffc107;
  padding: 20px 0;
  margin-top: 2px;
  border-width: 0px;
}
#main-header li > .dropdown-menu a {
  color: #fff;
}
#main-header li > .dropdown-menu li > a:hover,
#main-header li > .dropdown-menu li > a:focus {
  background-color: #ffa000;
}
#main-header li > .dropdown-menu a:hover,
#main-header li > .dropdown-menu a:focus {
  color: #fff;
}
#main-header li.open > .dropdown-menu {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 29px -50px;
  -moz-transform-origin: 29px -50px;
  -o-transform-origin: 29px -50px;
  -ms-transform-origin: 29px -50px;
  transform-origin: 29px -50px;
}
#main-header .menu-icon {
  font-size: 30px;
}
#footer-menu .footer-menu-icon {
  font-size: 40px;
}
#footer-menu .navbar a {
  color: white;
  text-decoration: none;
}
#footer-menu .navbar-default {
  color: #fff;
  background-color: #ffc107;
}
#menu-page .pedidos-btn,
#mi-pedido-page .pedidos-btn {
  margin-top: 20px;
}
#menu-page .agregar-menu,
#mi-pedido-page .agregar-menu {
  color: #ffc107;
}
#crear-menu .menu-item-hover {
  background-color: #ffecb3;
  border-radius: 7px;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}
