@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 120px;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: @main-color;
  border-color: @main-color;
  min-width: 120px;
}

.btn-default {
  background-color: @secondary-color;
  border-color: @secondary-color;
  color: white;
}

.btn-default[disabled] {
  background-color: lightgray !important;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary.focus, .btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: @main-color-dark;
  border-color: @main-color;
}

.btn-default:hover, .btn-default:focus,
.btn-default.focus, .btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: @secondary-color-dark;
  border-color: @secondary-color;
  color: white;
}

.top-buffer {
  margin-top: 30px;
}

.msg-error{
  color:red;
}

#main-header {

  .navbar {
    min-height: 80px;
  }

  .navbar-default {
    background-color: @main-color;
  }

  .navbar-default .navbar-nav > li > a {
    color: @menu-font-color;
  }

  nav {

    li > a:focus,
    li > a:hover {
      background-color: transparent;
    }

  }

  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }

  @media (min-width: 768px) {
    .navbar-nav > li {
      float: right;
      margin-left: 20px;
    }
  }

  li > .dropdown-menu {
    margin-top: 2px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    background-color: @main-color;
    padding: 20px 0;
    margin-top: 2px;
    border-width: 0px;

    a {
      color: @menu-font-color;
    }
    li > a:hover,
    li > a:focus {
      background-color: @main-color-dark;
    }
    a:hover,
    a:focus {
      color: @menu-font-color;
    }

  }
  li.open > .dropdown-menu {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -o-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
  }

  .menu-icon{
    font-size:30px;
  }

}

#footer-menu {
  .footer-menu-icon {
    font-size: 40px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
  }

  .navbar-default {
    color: @menu-font-color;
    background-color: @main-color;
  }
}

#menu-page, #mi-pedido-page {
  .pedidos-btn {
    margin-top: 20px;
  }
  .agregar-menu {
    color: @main-color;
  }
}

#crear-menu {
  .menu-item-hover {
    background-color: @main-color-light;
    border-radius: 7px;
  }
}
#main-page{
  text-align: center;

  .menu-principal-item{
    color: black;
    width: 20rem;
    padding: 20px;
    margin-bottom:20px;
    border-style: solid;
    border-radius: 30px;
    border-color: @menu-principal-color;
    text-align: center;
  }

  .menu-principal-item:hover{
    background-color: @menu-principal-color;
  }



  @media only screen and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  }

  .menu-icon{
    font-size:40px;
  }

  .btn-primary {
    background-color: inherit;
    border-color: inherit;
    border-style:none;
    color:black;
  }

  .disabled{
    a{
      cursor:not-allowed;
    }
    .menu-principal-item{
      background-color: #dfdfdf;
      border-color:#dfdfdf;
    }
  }

}



