services:
#    pedidos.example:
#        class: PedidosBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
    pedidosapi_http_client:
        class: PedidosBundle\Service\PedidosApiHttpClient
        arguments: ["@logger", "%pedidosapi_hostname%", "@serializer","@session"]

    pedidos_service:
        class: PedidosBundle\Service\PedidosService
        arguments: ["@logger", "@pedidosapi_http_client"]

    user_listener:
        class: PedidosBundle\Listener\UserListener
        arguments: ["@logger", "@router"]
        tags:
          - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 2 }

    exception_listener:
        class: PedidosBundle\Listener\ExceptionListener
        arguments: ["@logger", "@session"]
        tags:
          - { name: kernel.event_listener, event: kernel.exception }