services:
#    pedidos.example:
#        class: PedidosBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
    pedidosapi_http_client:
        class: PedidosBundle\Service\PedidosApiHttpClient
        arguments: ["@logger", "%pedidosapi_hostname%", "@serializer"]
