<footer id="footer" class="bs-docs-footer" role="contentinfo">
    <div id="footer-menu" class="hidden-sm hidden-md hidden-lg">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container text-center">
                <div class="col-xs-6">
                    <a href="{{ path("_get_menu") }}">
                        <div class="row footer-menu-icon">
                            <span class="fa fa-cutlery" aria-hidden="true"></span>
                        </div>
                        <div class="row ">
                            <span>Ver Menu</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path("_pedido_listar") }}">
                        <div class="row footer-menu-icon">
                            <span class="fa fa-history" aria-hidden="true"></span>
                        </div>
                        <div class="row">
                            <span>Mis Pedidos</span>
                        </div>
                    </a>
                </div>
            </div><!-- .container-fluid -->
        </nav>
    </div>
</footer>
