<footer id="footer" class="bs-docs-footer" role="contentinfo">
    <div class="container" style="background-color: lightblue;">

        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    Copyright Tambussi
                </p>
            </div>
        </div>

    </div>
</footer>
