<footer id="footer" class="bs-docs-footer" role="contentinfo">
    <div class="container">

        <div class="row">

            <div class="col-sm-12">
                <p>
                    Copyright Tambussi
                </p>
            </div>
        </div>

    </div>
</footer>
