<footer id="footer" class="bs-docs-footer" role="contentinfo">
    <div id="footer-menu" class="hidden-sm hidden-md hidden-lg">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container text-center">
                {% if app.session.get("usuarioDto") %}
                    <div class="col-xs-6">
                        <a href="{{ path("_get_menu") }}">
                            <div class="row footer-menu-icon">
                                <span class="fa fa-cutlery" aria-hidden="true"></span>
                            </div>
                            <div class="row ">
                                <span>Ver Menu</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ path("_logout") }}">
                            <div class="row footer-menu-icon">
                                <span class="fa fa-power-off" aria-hidden="true"></span>
                            </div>
                            <div class="row">
                                <span>Salir</span>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div><!-- .container-fluid -->
        </nav>
    </div>
</footer>
