{% extends 'PedidosBundle:layout:layout.html.twig' %}



{% block body %}

    {% set crearSugerencia = false %}
    {% set crearPedido = false %}
    {% set crearReporte = false %}
    {% set listarPedido = false %}

    {% for role in usuarioDto.roles %}
        {% if role.nombre == constant('PedidosBundle\\Dto\\UsuarioRoleType::CREAR_SUGERENCIA') %}
            {% set crearSugerencia = "true" %}
        {% endif %}
        {% if role.nombre == constant('PedidosBundle\\Dto\\UsuarioRoleType::CREAR_PEDIDO') %}
            {% set crearPedido = "true" %}
        {% endif %}
        {% if role.nombre == constant('PedidosBundle\\Dto\\UsuarioRoleType::LISTAR_PEDIDOS') %}
            {% set listarPedido = "true" %}
        {% endif %}
        {% if role.nombre == constant('PedidosBundle\\Dto\\UsuarioRoleType::GENERAR_REPORTE_PEDIDOS') %}
            {% set crearReporte = "true" %}
        {% endif %}
    {% endfor %}


    <section id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 ">
                    <a href="{{ path("_get_menu") }}" class="btn btn-primary">
                        <div class="menu-principal-item">
                            <h4 class="card-title">MENU</h4>
                            <p class="card-text"><i class="fa fa-cutlery menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 ">
                    <a href="{{ path("_pedido") }}" class="btn btn-primary {% if not crearPedido %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">PEDIR</h4>
                            <p class="card-text"><i class="fa fa-hand-o-up menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">
                    <a href="{{ path("_pedido_listar") }}" class="btn btn-primary {% if not listarPedido %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">MIS PEDIDOS</h4>
                            <p class="card-text"><i class="fa fa-history menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4  ">
                    <a href="#" class="btn btn-primary disabled">
                        <div class="menu-principal-item">
                            <h4 class="card-title">AYUDA</h4>
                            <p class="card-text"><i class="fa fa-question menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="btn btn-primary {% if not crearSugerencia %} disabled {% endif %}">
                        <div class="menu-principal-item">
                            <h4 class="card-title">ALTA SUGERENCIAS</h4>
                            <p class="card-text"><i class="fa fa-star menu-icon"></i></p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 ">
                    <a href="#" class="btn btn-primary {% if not crearReporte %} disabled {% endif %}  ">
                        <div class="menu-principal-item">
                            <h4 class="card-title">REPORTE</h4>
                            <p class="card-text"><i class="fa fa-signal menu-icon"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

